.logininput::placeholder {
    color: rgb(126, 124, 124);
    opacity: 1; /* Firefox */
    font-size: 1.5rem;
  }
  
 .logininput ::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(217, 215, 215);
  }

   #loginh1{
    font-size: 4rem;
  }


.signupbg,.loginbg {
    height: 100vh;
    width: 100%;
    background-image: url('https://img.freepik.com/premium-photo/spring-background-green-tree-leaves-blurred-background_1022944-1245.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 2vh;
}
/* .txtpart{
    width: 50%;
    padding: 5vh;
}
.signupbg .container {
    height: 90vh;
    width: 80vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 10vh;
} */
 .loginform{
    max-width: 800px;
    background-color:#fff;
    padding: 5vh;
    /* background-color: rgb(54, 135, 53,0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
}
.loginform form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}




@media(max-width:1100px) {
    .signupbg .container {
        width: 100vw ;
    }
}
@media(max-width:1000px){
    .signupbg .container .formpart{
        position: relative;
    }
    .signupbg .container .txtpart{
    visibility: hidden;
        width: 0%;
        padding: 0;
    }
    .signupbg .container{
        gap: 0;
        width: 100%;
    }
 

}


@media(max-width:450px){
    .signupbg .container .formpart input{
        width: 80%;
    }
    .loginbg #loginh1{
        font-size: 3rem;
    }
    .container{
        width: 100%;
    }
   
}
@media(max-width:650px){
    .loginform{
        width: 400px;
    }
    .loginform form{
        width: 100%;
    }
}

@media(max-width:500px){
    .loginform{
        width: 350px;
        padding: 2vh;
    }
}
@media(max-width:400px){
    .loginform{
        width: 300px;
    }
}