.RatelistHeader {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .RatelistHeader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets//ratelist.jpg');
    background-size: cover;
    /* background-position: ce   */
    opacity: 0.4; 
    z-index: -1; 
  }
  
  .RatelistHeader h1 {
    font-size: 3.5rem;
    color: #368735 ;
    font-family: sans-serif;
    text-align: center;
    z-index: 1; /* Keep the text on top */
  }

  