@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.hero {
    background-image: url('../../assets/header.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1px 30px 1px 80px;
    background-color: #fff;
    margin-bottom: 90px;
    height: 95vh;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.hero-text {
    max-width: 70%;
    z-index: 2;
    padding-right: 50px;
    margin-top: 5vh;
}

.hero-text h3 {
    font-size: 2.1rem;
    color: #505050;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}

.hero-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;    
    color: #4c874b;
}

.hero-text p {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 20px;
    color: #4f4e4e;
    line-height: 1.6;
    margin-bottom: 10px;
}

.hero-text .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #368735;
    border: none;
    color: #fdffff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
}

/* New image container for mobile screens */
.hero-image-container {
    display: none; /* Initially hidden */
    text-align: center;
    margin-top: 20px;
}

.hero-image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
}


/* Responsive Styles */
@media (min-width: 1200px) {
    
    .hero {
        background-image: url('../../assets/header.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1px 30px 1px 80px;
        background-color: #fff;
        margin-bottom: 90px;
        height: 95vh;
        position: relative;
        flex-wrap: wrap;
    }
    
.hero-text {
    /* max-width: 40%; */
    z-index: 2;
    padding-right: 50px;
    /* margin-top: 15vh; */
}
    /* .hero-text h1 {
        font-size: 55px;
    } */
}

@media (max-width: 1199px) and (min-width: 992px) {
    .hero {
        height: 65vh;
        background-size: 70% 60vh;
        margin-bottom: 10px;
    }
    .hero-text {
        /* margin-top: 9vh; */
        max-width: 80%;
    }
    /* .hero-text h1 {
        font-size: 50px;
    } */
}

@media (max-width: 991px) and (min-width: 768px) {
    .hero {
        flex-direction: column;
        background-size: 100% auto;
        height: auto;
        padding: 20px;
        background-image: none;
        justify-content: center;
        background-position: top center;
        background-color: #e0f5e9;
        margin-bottom: 0;
    }

    .hero-text {
        max-width: 90%;
        padding: 0;
        margin-top: 10vh;
        text-align: center;
    }
    .hero-text h1 {
        font-size: 3.8rem;
    }
    .hero-text h3 {
        font-weight: 800;
        font-size: 2rem;
    }
    .hero-text p {
        font-size: 1.25rem;
        color: #515353;
    }
    .hero-text .btn {
        font-size: 1.2rem;
    }
    .hero-image-container {
        background-color: #e0f5e9; /* Light green background */
        margin-top: 0;
        display: block; /* Show the image */
    }

    .hero-image-container img {
        width: 100%;
        max-width: 480px;
        height: auto;
    }
}

@media (max-width: 767px) {
    .hero {
        background-color: #e0f5e9; /* Light green background */
        background-image: none; /* Remove the background image */
        height: auto;
        padding: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .hero-text {
        max-width: 90%;
        padding: 0;
        margin-top: 10vh;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 3.5rem;
    }

    .hero-text h3 {
        font-size: 1.8rem;
    }

    .hero-text p {
        font-size: 1.15rem;
    }

    .hero-text .btn {
        font-size: 1.2rem;
        padding: 8px 16px;
    }

    .hero-image-container {
        background-color: #e0f5e9; /* Light green background */
        margin-top: 0;
        display: block; /* Show the image */
    }

    .hero-image-container img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .hero {
        flex-direction: column;
        background-color: #e0f5e9; /* Light green background */
        background-image: none; /* Remove the background image */
        height: auto;
        padding: 20px;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
    }

    .hero-text {
        max-width: 90%;
        padding: 0;
        margin-top: 10vh;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text h3 {
        font-size: 1.6rem;
    }

    .hero-text p {
        font-size: 1.05rem;
    }

    .hero-text .btn {
        font-size:1.2rem;
        padding: 6px 12px;
    }

    .hero-image-container {
        background-color: #e0f5e9; /* Light green background */
        margin-top: 0;
        display: block; /* Show the image */
    }

    .hero-image-container img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }
}
