nav{
  position: sticky;
  top: 0; 
  /* min-height:13vh; */
  width: 100%;
  min-height: 90px;
  background-color: #fff;
  padding:0 0 0 20vh ;
  display: flex;
  color: #368735;
  align-items: center;
  justify-content:space-between;
  z-index: 1000;
}
.MY_logo img{
  height: 90px;
  width: 12vw;
}
.elem{
  min-height: 10vh;
  min-width: 30vw;    
  margin-right: 5vh;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: end;
  justify-content: end;
  gap: 3vh;
}
.elem #elemlink , #user{
  font-size: 1rem;
  font-weight: 600;
  color: #368735;
  text-decoration: none;
  text-transform: uppercase;
  display: flex ;
}
.elem span{
  height: 5vh;
  width: 7vw;
  line-height: 5vh;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(68, 122, 106);
}
.elem i{
  font-size: 1.5rem;
  margin-left: 2vh;
  position: relative;
  top: -5px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.hamburger div {
  width: 35px;
  height: 3px;
  background-color: #368735;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.hamburger.cross div:nth-child(1) {
  transform: rotate(45deg) translate(6px ,6px);

}

.hamburger.cross div:nth-child(2) {
  opacity: 0;
}

.hamburger.cross div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.elem .loginover{
  position: absolute;
  top: 7.6vh;
  right: 10vh;
  height: 14vh;
  width: 200px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding:  2vh;
  box-shadow: 5px 5px 5px grey;
}
.elem .loginover a{
  font-size: 1rem;
  margin-bottom: 1vh;
  color: black;
}

.mobilenav{
  min-height: 20vh;
  width: 100%;
  position: fixed;
  background-color:#fff;
  padding:2vh 5vh 5vh 5vh;
  flex-direction: column;
  display: flex;
  gap: 2vh;
  z-index:100;
}
.mobilenav a{
  font-size: 1rem;
  font-weight: 600;
  color: #368735;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 3vh;
  line-height: 30px;
}



/* whatsapp or call icon */

.cntcticon{
  height: 18vh;
  width:150px ;
  right: 0;
  position: fixed;
  padding: 0 4vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  top: 77%;
  z-index: 99;
}
.cntcticon .wbicon,.callicon{
  height: 7.5vh;
  width: 7.5vh;
  border-radius: 50%;
  background-color: #5cba5b;
  display: flex;
  color: #fff;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


@media(max-width:1300px){
nav{
  padding:0 0 0vh 15vh;
}
}

@media(max-width:1000px){
  nav{
    padding: 0 5vh 0 5vh;
  }
  .elem{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 2vh;
    position: relative;
    left: 10vw;
    height: 10vh;
    display: none;
  }

  .hamburger{
    display: initial;
  }
  .elem.active {
    display: flex;
    height: 20vh;
    /* justify-content: end;
    align-items: flex-start; Optional: To vertically center the links */
    flex-direction: column; /* Optional: To stack the links vertically */
    gap:20px;
  }

  .elem .loginover{
    top: 15vh;
    left: -1vw;
  }
  .mobilenav{
    display: initial;
    flex-direction: column;
  }
  .MY_logo img{
    width: 150px;
  }
}
@media(max-width:760px){
  .MY_logo img{
    width: 150px;
  }
  .topstrip{
    gap: 20vw;
  }
  .topstrip{
    gap: 20vw;
  }
}
@media(max-width:500px){
nav{
  padding: 2vh;
}
.elem .loginover{
  top: 13.5vh;
}
.MY_logo img{
  width: 120px;
}
.cntcticon{
  padding: 0 2vh;
  /* height: 16vh; */
}
/* .cntcticon .wbicon , .callicon{
  height: 7.5vh;
  width: 7vh;
} */

.cntcticon{
  top: 73%;
}
.topstrip{
  display: none;
}
.topstrip{
  display: none;
}
}

@media(min-height:1200px){
  nav{
    padding-left: 2vh;
  }
  .MY_logo img{
    height: 4vh;
  }
}