.section5 {
  min-height: 30vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15vh 0;
  border-radius: 12px;
  padding: 10px 2px;
  gap: 16px;
  font-family: sans-serif;
}

.section5 .pt {
  width: 22%;
  gap: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section5 .pt img{
  height: 15vh;
  width: 15vh;
}
.section5 .pt h1 {
  font-size: 2.5rem;
  width: 70vw;
  text-align: center;
  /* color: #087373; */
}

.section5 .pt p {
  font-size: 1.4rem;
  width: 70vw;
  text-align: center;
}

@media (max-width: 1000px) {
  .section5 {
    flex-direction: column;
    align-items: center;
    
     flex-wrap: wrap;
  }
  .pt{
    margin-bottom: 4vh;
  }
}
@media(min-height:1300px){
  .section5{
    margin: 10vh 0  ;
  }
  .section5 .pt img{
    height: 10vh;
    width: 10vh;
  }
}