.why-us{
    height: 90vh;
    width: 100%;
    background-color: antiquewhite;
}
.why-us img{
    height: 100%;
    width: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.why-us .whyustext{
    
}