* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
  font-family: jost-Thinitalic;
}


main{
  background-image: url('../../assets/kabad2.png');
  background-size: 100% 85vh;
  background-repeat: no-repeat;
  padding: 5vh 26vh 0;
} 